<div class="relleno-footer">

</div>
<div class="footer">

    <div class="footer-1">
        <div class="footer-1-1">
            <div class="footer-f">

                <i class="fa-brands fa-facebook-f"></i>

            </div>

            <div class="footer-w">
                
                <i class="fa-brands fa-whatsapp"></i>

            </div>
            <div class="footer-g">

                <i class="fa-brands fa-github-alt"></i>

            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="footer-p-1">
            <p class="pf1">Daniel Becerra</p>
        </div>
        <div class="footer-p-2">
            <p class="pf2"> ©  2021  -  2022</p>
        </div>
    </div>

</div> 
