.relleno-footer{
    height: 50px;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: #1A2930;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* =================================================================================================== */
.footer-1{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-1-1{
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ----------------------------------------------------------------------------------------------------*/
.footer-f{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* ----------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/
.footer-w{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/
.footer-g{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------------------------------------------------------------------------------------*/
i{ 
    color: yellow;
    font-size: 40px;
}
/* =================================================================================================== */
/* =================================================================================================== */
.footer-2{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* ----------------------------------------------------------------------------------------------------*/
.footer-p-1{
    height: 100%;
    width: 15%;
    font-size: 20px;
    display: flex;
    justify-content: end;
}
.pf1{
    margin: 0;
    padding: 0%;
    color: white;
    display: flex;
}
/* ----------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/
.footer-p-2{
    height: 100%;
    width: 15%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.pf2{
    margin: 0;
    padding: 0;
    color: yellow;
}