.example-spacer {
  flex: 1 1 auto;
}


 .nabvar{
  width: 100%;
  color: rgb(51, 20, 34);
  font-size: 29px;
  background:  rgba(255, 255, 255, 008);
} 

.nabvar ::before{
  content: '';
  background-color:rgba(0, 0, 0, 0.08);
}  

.nuevo{
  font-size: 25px;
}

.nuevo:hover{
  font-size: 28px;
  color: rgb(135, 180, 219);
}