.simple-card-m {
  margin-top: 10px;
}



.espacio-derecha{
  margin-right: 20px;
}

.cont {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.ancho {
  margin-top: 0.35em;
  width: 100%;
}

.btn-agregar{
  background-color: rgb(85, 150, 207);
}


.a-nombre{
  height: 50px;
}
.ancho{
  height: 50px;
}
.alto{
  height: 50px;
}
.alto2{
  height: 70px;
}