<div class="container">
  
  <mat-toolbar>
    <span >{{titulo}}</span>
  </mat-toolbar>
  <mat-card class="simple-card-m">

   <div class="cont">
     <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
       
       <mat-grid-list cols="3" rowHeight="70px">

        <mat-grid-tile [colspan]="3" [rowspan]="1" class="a-nombre">
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input 
            matInput 
            autocomplete="off"
            formControlName="nombre"
            class="alto"
            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input 
            matInput 
            autocomplete="off"
            formControlName="apellido"
            class="alto"

            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Email</mat-label>
            <input 
            matInput 
            autocomplete="off"
            formControlName="email"
            class="alto"

            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Celular</mat-label>
            <input 
            matInput 
            autocomplete="off"
            formControlName="celular"
            class="alto"

            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input 
            matInput 
            autocomplete="off"
            formControlName="descripcion"
            class="alto"

            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Fecha-Hora</mat-label>
              <input matInput type="datetime-local" autocomplete="off" formControlName="fecha" 
            class="alto2"
            >
          </mat-form-field>
        </mat-grid-tile>
       

        <mat-grid-tile [colspan]="3" [rowspan]="1" >
           <button mat-raised-button class="espacio-derecha" (click)="Volver()">Volver</button>
          <button mat-raised-button class="btn-agregar" color="primary" type="submit" *ngIf="adicionar === true">Aceptar</button> 
          <button mat-raised-button class="btn-agregar" color="primary" type="submit" *ngIf="adicionar === false">Modificar</button> 
          
        </mat-grid-tile>
      </mat-grid-list>
      
    </form>
   </div>

  </mat-card>
</div>
<div>
  
</div>
