 /* .main{
  background-size: cover;
  min-height: 100hv;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
} 


.main::before{
  content:"";
  background-color: rgba(0, 0, 0,0.57);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  box-sizing: border-box;
  
} 

.img-n{
  border: 4px solid #fff;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


.container{
  padding-top: 100px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


* {
    padding: 0px;
    box-sizing: border-box;
  }
 


  h1,h2,h3 , strong{
  font-family: 'Archivo Black', sans-serif;
  font-size: 15px;
  }

  h1{
  font-size: 35px;
  margin-top: 20px;
  
  }

  p{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 15px;

  }


  /* body {
    margin: 0 auto;
    color: #263547;
    height: 100%;
    width: 910px;
  } */

  /* .head {
    float: left;
    margin-top: 12px;
    height: 250px;
    width: 100%;
    background-color: rgb(232, 241, 248);
  }

  .left {
    float: left;
    padding: 10px;
    min-height: 100%;
    width: 33%;
    background-color: rgb(232, 241, 248);
  }

.left h1,h2,h3{
  font-size: 18px;
  letter-spacing: 2px;
}

.left p {
  font-size: 15px;
}





  .right {
    float: left;
    width: 65%;
  padding: 15px;
  }


  .right h1,h2, h3 {
    font-size: 16px;
  } */
/* 
  .head img {
    float: left;
    border-radius:100%;
  width: 95%;
  height: 270px;
  padding: 20px;
}


.head .img {
  float: left;
  width: 30%;
  padding-left: 20px;
} */



/* .head h1 {
  font-size: 50px;
  float: left;
  width: 20%;
  padding-left: 30px;
}

span {
  float: right;
}
  */