<!-- <section class="main">
  <div class="info-per container">
    <img class="img-n" src="../../../../assets/img/1.jpg" alt="neida-image">
  </div>
  <h1>NEIDA LLUSCO MIRANDA</h1>
</section> -->

<!-- <div class="head">
  <div class="img"><img src="../../../../assets/img/1.jpg" alt="neida-image"></div>
  <h1>NEIDA LLUSCO MIRANDA</h1>
</div>
<div class="left">
  <h2>REFERENCIAS PERSONALES</h2>
  <p>
    Lugar de nacimiento:
    <br>
    Cercado-Cbba-Bolivia
    <br><br>
    Fecha de nacimiento:
    <br>
    25-nov-1999
    <br><br>
    Estado Civil:
    <br>
    Soltera
    <br><br>
    C.I.: <br>
       9383515
  </p>
  <br><br>
  <h2>COMO CONTACTAR CONMIGO</h2>
  <p>
    Dirección:
    <br>
    Av.Diamante, Calle Chacaltaya
    <br><br>
    Teléfono:
    <br>
    62613382
    <br><br>
    Correo:
    <br>
    neida.llusco.miranda99@gmail.com
  </p>
  <br><br><br>
  <h2>IDIOMA</h2>
  <h3>Ingles</h3>
   <p>Nivel Básico</p>
  <h3>Español</h3>
    <p>Nativo</p>
</div>

<div class="right">
  <h2>HABILIDADES</h2>
  <p>
    -Trabajo en equipo<br>
    -Perseverancia<br>
    -Proactividad <br>
    -Adaptabilidad
  </p>

  <h3>PERFIL ACADÉMICO</h3>
  
    <h3>CAPACITACIONES</h3>
    <p>
      <strong><span>marzo 2022 -en curso </span></strong>
    Alcaldía - Empresa Solaning S.R.L. <br>
    Desarrollo de Aplicaciones Web
    </p>

    <h3>EDUCACIÓN SUPERIOR</h3>
    <br>
    <strong>Universitario        <span>marzo 2018-en curso</span></strong>
    <p>
    Universidad Mayor de San Simón <br>
    Ing. de Sistemas <br>
    7 semestres
    </p>

    <h3>Bachiller       <span>enero 2012-diciembre 2017</span></h3>
    <p>
    Titulo de bachiller <br>
    Unidad Educativa '1ro de Mayo 2' 
    </p>
    <br>
    <br>
  <h3>CERTIFICADOS</h3>
  <p>
    <h3>Cisco Modulo 1    <span> enero 2021 - agosto 2021</span></h3>
   <p>
    Certificado Cisco Modulo 1 <br>
    1 semestre
   </p>

    <h3>Cisco Modulo 2    <span> septiembre 2021 - enero 2022</span></h3>
    <p>
      Certificado Cisco Modulo 2 <br>
      1 semestre
    </p>
</div> -->
