<div class="body">
  <div class="login">

    <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
        <img src="./assets/img/user.png" alt="imagen de usuario">
      
        <h1>Autenticacion de Usuarios</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input 
        matInput
        formControlName="usuario"
        >
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input 
        formControlName="password"
        matInput
        >
      </mat-form-field>
      <br>
        <button 
        class="ancho boton" 
        mat-raised-button 
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        >Ingresar</button>
        
    </form>
  </div>
  
</div>