<div class="contactooo">
  <div class="contacto">

      <div class="container">
          <form action="https://formspree.io/f/xyyoarko" method="post">
  
              <div class="form-group1">
                  <label class="form-p-1" for="fistName">NOMBRES</label>
                  <input type="text" id="firstName" name="firstName">
              </div>
  
              <div class="form-group2">
                  <label class="form-p-1" for="">APELLIDOS</label>
                  <input type="text" id="lastName" name="lastName">
              </div>
  
              <div class="form-group3">
                  <label class="form-p-1" for="email">EMAIL</label>
                  <input type="email" id="email" name="email">
              </div>
  
              <div class="form-group4">
                  <label class="form-p-1" for="massage">MENSAJE</label>
                  <textarea name="massage" id="massage" name="massage" cols="30" rows="10"></textarea>
              </div>
  
              <button class="form-btn" type="submit">ENVIAR</button>
          </form>
      </div>

  </div>

</div>