.contactooo{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*<><><>><><><><><><><><><><><><><><><<><><<><><><><><<><<><><><><><><><><><><><><><><><><><><><><><><><<><>*/
.contacto{
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* =================================================================================================== */
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white ;
}
.container form{
  width: 80%;
  height: 100%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25px;
}
.form-group1{
   width: 100%;
   height: 10%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.form-group2{
  width: 100%;
  height: 10%;
  display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.form-group3{
  width: 100%;
  height: 10%;
  display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.form-group4{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form-btn{
  border-radius: 25px;
  width: 100%;
  height: 10%;
  background-color: #1A2930;
  color: yellow;
}
.form-btn:hover{
  background-color: yellow;
  color: #1A2930;
}
.form-p-1{
  width: 25%;
  display: flex;
  align-items: center;
}
#firstName{
  width: 65%; 
}
#lastName{
  width: 65%;
}
#email{
  width: 65%;
}
#massage{
  width: 65%;
}
/* =================================================================================================== */
/* =================================================================================================== */

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/*---------------------------------------------------------------------------------------------------------*/
/* =================================================================================================== */
/*<><><>><><><><><><><><><><><><><><><<><><<><><><><><<><<><><><><><><><><><><><><><><><><><><><><><><><<><>*/
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

                                      /* CONTACTO REPONSIVE */
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width:680px){
  .contactooo{
      height: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  /*<><><>><><><><><><><><><><><><><><><<><><<><><><><><<><<><><><><><><><><><><><><><><><><><><><><><><><<><>*/
  .contacto{
      width: 100%;
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  /* =================================================================================================== */
  .container{
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }
  .container form{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 0;
  }
  .form-group1{
       width: 100%;
       height: 10%;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
  }
  .form-group2{
      width: 100%;
      height: 10%;
      display: flex;
       flex-direction: row;
       justify-content: space-around;
  }
  .form-group3{
      width: 100%;
      height: 10%;
      display: flex;
       flex-direction: row;
       justify-content: space-around;
  }
  .form-group4{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .form-btn{
      border-radius: 25px;
      width: 100%;
      height: 10%;
  }
  .form-p-1{
      width: 25%;
      display: flex;
      align-items: center;
  }
  #firstName{
      width: 65%; 
  }
  #lastName{
      width: 65%;
  }
  #email{
      width: 65%;
  }
  #massage{
      width: 65%;
  }
  /* =================================================================================================== */
  /* =================================================================================================== */
  .contacto-2{
      width: 100%;
      height: 30%;
      display: flex;
      border-radius: 25px;
      align-items: center;
      justify-content: center;
  }
  /*---------------------------------------------------------------------------------------------------------*/
  .contacto-2-1{
      display: none;
  }
  /*---------------------------------------------------------------------------------------------------------*/
  /*---------------------------------------------------------------------------------------------------------*/
  .contacto-2-2{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  /* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
  .contacto-2-2-1{
      width: 30%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .contacto-2-2-1-p{
      font-size: 25px;
  }
  /* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
  /* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
  .contacto-2-2-2{
      width: 30%;
      height: 70%;
      display: flex;
      justify-content: center;
  }
  .ico-calendario{
      height: 100%;
      width: 80%;
  }
}