<div class="container">
  <mat-toolbar>
    <span>Agendar</span>
  </mat-toolbar>

  <div class="cont">

    <form [formGroup]="form">
      <mat-grid-list cols="3"  rowHeight="70px" >
       
        <!-- <mat-grid-tile [colspan]="3" [rowspan]="5">
        <img src="./assets/img/user.png" alt="usuario" width="250" height="250">
        </mat-grid-tile> -->

        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" formControlName="nombre" readonly>
          </mat-form-field>
        </mat-grid-tile>



        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput autocomplete="off" formControlName="apellido" readonly>
          </mat-form-field>
        </mat-grid-tile>


        
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput autocomplete="off" formControlName="email" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Celular</mat-label>
            <input matInput autocomplete="off" formControlName="celular" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput autocomplete="off" formControlName="descripcion" readonly>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Fecha</mat-label>
            <input matInput autocomplete="off" formControlName="descripcion"  readonly>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Hora</mat-label>
            <input matInput autocomplete="off" formControlName="descripcion" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <button mat-raised-button class="espacio-derecha" (click)="Volver()">Volver</button>
        </mat-grid-tile>

      </mat-grid-list>

    </form>
  </div>
</div>