/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
/* 
  background: url("/src/assets/img/1.jpg");
  background-size: cover; */


  /* background-color: rgb(110, 169, 245); */
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
}


.container {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
}

button{
  background-color:rgb(blue, green, blue);
}
