    <div class="cabeza-0">
        <div class="cabeza-0-1">
         <p>Luis Daniel Becerra Ortis</p>
        </div>
        <div class="cabeza-0-2">
         <a href="#1">Inicio</a>
         <a href="#2">Quien soy?</a>
         <a href="#3">Conocimientos</a>
         <a href="#4">Contacto</a>
        </div>
     </div>
    <div class="cabeza" id="1">
        <div class="cabeza-1">

        </div>
        <div class="cabeza-2"></div>  
    </div>

    <div class="relleno1">
        <a href="#2">Ver mi trabajo</a>
        <img src="../../../assets/img/img-ico/flecha3.png" alt="">
    </div>
    <div class="relleno1-1" id="2"></div>

    <div class="mi">
        <div class="mi-1" >
            <p>-QUIEN SOY?-</p>
        </div>
        <div class="mi-2">
            <div class="mi-2-1">
                <div class="mi-2-1-1">
                    <p> 
                    <b> 
                        Mi nombre es Luis Daniel Becerra Ortis, soy un desarrollador web de Bolivia que está recién comenzando a buscar oportunidades; sin embargo, llevo tiempo aprendiendo desarrollo web. He realizado pequeños proyectos para incluirlos en mi portafolio, y me encantaría tener la posibilidad de demostrar que soy capaz de desarrollar soluciones que se ajusten a las necesidades de cada negocio. Me apasiona realizar diseños atractivos y muy fáciles de usar para los usuarios, además de crear animaciones y páginas dinámicas que le brinden al usuario una gran experiencia. 
                    </b> 
                    </p>
                </div>
                <div class="mi-2-1-2">
                    <div class="info-t">INFORMACION</div>
                    <div class="info-p">
                        <div class="info-p-1">
                            <p class="p-amarillo">Nombre:</p>
                            <p class="p-relleno"></p>
                            <p class="p-blanco">Luis Daniel Becerra Ortis</p>
                        </div>
                        <div class="info-p-1">
                            <p class="p-amarillo">Edad:</p>
                            <p class="p-relleno"></p>
                            <p class="p-blanco">18 años</p>
                        </div>
                        <div class="info-p-1">
                            <p class="p-amarillo">Pais:</p>
                            <p class="p-relleno"></p>
                            <p class="p-blanco">Bolivia</p>
                        </div>
                        <div class="info-p-1">
                            <p class="p-amarillo">Email:</p>
                            <p class="p-relleno"></p>
                            <p class="p-blanco">luisdanielbecerra21175@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mi-2-2">
                <div class="mi-2-2-1">
                    <img class="perfil" src="../../../assets/img/yo.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="relleno2" id="3"></div>

    <div class="conocimi">
        <div class="conocimi-1">
            <p class="conocimi-1-p">-CONOCIMIENTOS-</p>
        </div>

        <div class="conocimi-2">

            <div class="conocimi-contene">

            <div class="conocimi-2-1">
                
                    <div class="cono-html-1">
                        <img class="icono-html" src="../../../assets/img/img-ico/html.png" alt="">     
                    </div>
                    <div class="cono-html-2">
                        <p>HTML</p>
                    </div>
                    <div class="cono-html-3"></div>
                    <div class="cono-html-4">
                        <p>90%</p>
                    </div>
                
            </div> 
            <div class="conocimi-2-2">
                
                    <div class="cono-css-1">
                        <img class="icono-css" src="../../../assets/img/img-ico/css-3.png" alt="">     
                    </div>
                    <div class="cono-css-2">
                        <p>CSS</p>
                    </div>
                    <div class="cono-css-3"></div>
                    <div class="cono-css-4">
                        <p>90%</p>
                    </div>
                
            </div>   
            <div class="conocimi-2-3">
                
                    <div class="cono-js-1">
                        <img class="icono-js" src="../../../assets/img/img-ico/js.png" alt="">     
                    </div>
                    <div class="cono-js-2">
                        <p>JavaScript</p>
                    </div>
                    <div class="cono-js-3"></div>
                    <div class="cono-js-4">
                        <p>70%</p>
                    </div>
                
            </div>   
            <div class="conocimi-2-4">
                
                    <div class="cono-ng-1">
                        <img class="icono-ng" src="../../../assets/img/img-ico/angular1.png" alt="">     
                    </div>
                    <div class="cono-ng-2">
                        <P>Angular</P>
                    </div>
                    <div class="cono-ng-3"></div>
                    <div class="cono-ng-4">
                        <p>50%</p>
                    </div>
                
            </div>   
            <div class="conocimi-2-5">
                
                    <div class="cono-mysql-1">
                        <img class="icono-mysql" src="../../../assets/img/img-ico/mysql.png" alt="">
                    </div>
                    <div class="cono-mysql-2">
                        <p>My SQL</p>
                    </div>
                    <div class="cono-mysql-3"></div>
                    <div class="cono-mysql-4">
                        <p>30%</p>
                    </div>
                
            </div>            
        </div>
      </div>

    </div>

    <div class="relleno4" id="4">

    </div>
    <div class="relleno5">
        <p>-CONTACTO-</p>
    </div>
    <div class="relleno6">

    </div>

    <!-- <div class="contactooo">
        <div class="contacto">

            <div class="container">
                <form action="https://formspree.io/f/xyyoarko" method="post">
        
                    <div class="form-group1">
                        <label class="form-p-1" for="fistName">NOMBRES</label>
                        <input type="text" id="firstName" name="firstName">
                    </div>
        
                    <div class="form-group2">
                        <label class="form-p-1" for="">APELLIDOS</label>
                        <input type="text" id="lastName" name="lastName">
                    </div>
        
                    <div class="form-group3">
                        <label class="form-p-1" for="email">EMAIL</label>
                        <input type="email" id="email" name="email">
                    </div>
        
                    <div class="form-group4">
                        <label class="form-p-1" for="massage">MENSAJE</label>
                        <textarea name="massage" id="massage" name="massage" cols="30" rows="10"></textarea>
                    </div>
        
                    <button class="form-btn" type="submit">ENVIAR</button>
                </form>
            </div>
    
    
    
            <div class="contacto-2">
                <div class="contacto-2-1">

                    <div class="contacto-2-1-1">
                        <img class="ico-flecha" src="../../../assets/img/img-ico/flecha2.png" alt="">
                        <p class="contacto-2-1-1-p">Formulario</p>
                    </div>
    
                </div>
                <div class="contacto-2-2">

                    <div class="contacto-2-2-1">
                            <p>AGENDA</p>
                    </div>
                    <div class="contacto-2-2-2">

                            <img  class="ico-calendario" src="../../../assets/img/video/calendario.gif" alt="">

                    </div>
    
                </div>
            </div>
    
        </div>

    </div>
    <!-- ng build --prod --base-href="/" -->
 -->