*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
}                                        /* Cabeza */
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.cabeza{
    padding: 0;
    margin: 0;
    height: 328px;
    width: 100%;
    background-image: url("../../../assets/img/nubes-3.png");
    background-color: #1A2930;
    display: flex;
    flex-direction: column;
}
.cabeza-0{
    height: 48px;
    width: 1248px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A2930;
    position: fixed;
    color: white;
}
.cabeza-0-1{
    width: 30%;
    font-size: 30px;
    color: yellow;
}
.cabeza-0-2{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.cabeza-0-2 a{
    padding: 15px;
    color: white;
    text-decoration: none;
}
.cabeza-0-2 a:hover{
    background-color: yellow;
    color: #1A2930;
    padding: 15px;
}


/*===================================================================================================*/
.cabeza-1{
    height: 48px;

}

/*===================================================================================================*/

/*===================================================================================================*/
.cabeza-2{
    height: 280px;

}
/*===================================================================================================*/

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
                                        /* Cabeza responsive */
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width:680px) {
    .cabeza{
        padding: 0;
        margin: 0;
        height: 328px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .cabeza-0{
        background-color: #1A2930;
        height: 90px;
        width: 96%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: fixed;
    }
    .cabeza-0-1{
        height: 45%;
        width: 100%;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cabeza-0-2{
        height: 45%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .cabeza-0-2 a{
        padding: 15px;
        text-decoration: none;
    }
    .cabeza-0-2 a:hover{
        padding: 15px;
    }
    /*===================================================================================================*/
    .cabeza-1{
        height: 48px;
    }
    /*===================================================================================================*/
    
    /*===================================================================================================*/
    .cabeza-2{
        height: 280px;
    }
    /*===================================================================================================*/
}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.relleno1{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.relleno1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2ebcec ;
    text-decoration: none;
    font-size: 35px;
    border: 4px solid #2ebcec ;
    border-radius: 30px;
}
.relleno1 a:hover{
    border-color: rgb(147, 247, 247);
    color: rgb(147, 247, 247);
}
.relleno1 img{
    margin-top: 20px;
    height: 50px;
    width: 50px;
}
.relleno1-1{
    height: 150px;
}

                                     /*  MI */
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.mi{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
/* ================================================================================================ */
.mi-1{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}
.mi-1 p{
    display: flex;
    align-items: center;
    font-size: 40px;
    margin: 0;
    color: #1A2930;
}
/* ================================================================================================ */
/* ================================================================================================ */

.mi-2{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}
/* -------------------------------------------------------------------------------------------------------- */

.mi-2-1{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.mi-2-1-1{
    font-family: 'Oswald', sans-serif;
}
.mi-2-1-1{
    height: 50%;
    background-color: #ebe9e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mi-2-1-1 p{
    width: 90%;
    font-size: 16px;
}
.mi-2-1-2{
    height: 50%;
    background-color: #1A2930;
}
.info-t{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: yellow;
}

.info-p{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}
.info-p-1{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.p-amarillo{
    width: 10%;
    color: yellow;
}
.p-relleno{
    width: 5%;
}
.p-blanco{
    width: 70%;
    color: white;

}
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */

.mi-2-2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}
.mi-2-2-1{
    width: 50%;
    height: 90%;
    border-radius: 150px;
    background-color: #1A2930;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil{
    border-radius: 150px;
    height: 90%;
    width: 90%;
}
/* -------------------------------------------------------------------------------------------------------- */

/* ================================================================================================ */

/*///////////////////////////////////////////////////////////////////////////////////////////////*/

                                       /*  MI RESPONSIVE */
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width:680px){
    .mi{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    /* ================================================================================================ */
    .mi-1{
        width: 80%;
        height: 6%;
        display: flex;
        justify-content: center;
    }
    .mi-1 p{
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 0;
    }
    /* ================================================================================================ */
    /* ================================================================================================ */
    
    .mi-2{
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }
    /* -------------------------------------------------------------------------------------------------------- */
    
    .mi-2-1{
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .mi-2-1-1{
        font-family: 'Oswald', sans-serif;
    }
    .mi-2-1-1{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mi-2-1-1 p{
        width: 90%;
        font-size: 16px;
    }
    .mi-2-1-2{
        height:30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-t{
        height: 30%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .info-p{
        height: 70%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .info-p-1{
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .p-amarillo{
        width: 20%;
        font-size: 15px;
    }
    .p-relleno{
        width: 10%;
    }
    .p-blanco{
        width: 70%;
        font-size: 15px;
    
    }
    /* -------------------------------------------------------------------------------------------------------- */
    /* -------------------------------------------------------------------------------------------------------- */
    
    .mi-2-2{
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mi-2-2-1{
        width: 45%;
        height: 90%;
        border-radius: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .perfil{
        border-radius: 150px;
        height: 90%;
        width: 90%;
    }
    /* -------------------------------------------------------------------------------------------------------- */
    
    /* ================================================================================================ */


}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/


.relleno2{
    height: 200px;
}                                         /*CONOCIMI*/
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.conocimi{
    width: 100%;
    height: 500px;
}

/* =================================================================================================== */
.conocimi-1{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conocimi-1-p{
    font-size: 30px;
}
/* =================================================================================================== */
/* =================================================================================================== */
.conocimi-2{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}
.conocimi-contene{
    border-radius: 50px;
    padding: 0px 60px 0px 60px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5F5F5;
}
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-1{ 
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-html-1{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.icono-html{
    width: 85%;
    height: 90%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-html-2{
    width: 12%;
    height: 50%;
    background-color: #00A1A7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-html-3{
    width: 72%;
    height: 50%;
    background-color: #04C2C9;

}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-html-4{
    width: 8%;
    height: 50%;
    background-color: rgb(159, 156, 156);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-2{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-css-1{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.icono-css{
    width: 85%;
    height: 90%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-css-2{
    width: 12%;
    height: 50%;
    background-color: #00A1A7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-css-3{
    width: 72%;
    height: 50%;
    background-color: #04C2C9;

}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-css-4{
    width: 8%;
    height: 50%;
    background-color: rgb(159, 156, 156);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-3{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-js-1{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-js{
    width: 80%;
    height: 90%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-js-2{
    width: 12%;
    height: 50%;
    background-color: #00A1A7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-js-3{
    width: 55%;
    height: 50%;
    background-color: #04C2C9;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-js-4{
    width: 25%;
    height: 50%;
    background-color: rgb(159, 156, 156);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-4{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;  
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-ng-1{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-ng{
    width: 85%;
    height: 100%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-ng-2{
    width: 12%;
    height: 50%;
    background-color: #00A1A7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-ng-3{
    width: 40%;
    height: 50%;
    background-color: #04C2C9;  
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-ng-4{
    width: 40%;
    height: 50%;
    background-color: rgb(159, 156, 156);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-5{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-mysql-1{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-mysql{
    width: 85%;
    height: 100%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-mysql-2{
    width: 12%;
    height: 50%;
    background-color: #00A1A7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-mysql-3{
    width: 40%;
    height: 50%;
    background-color: #04C2C9;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-mysql-4{
    width: 40%;
    height: 50%;
    background-color: rgb(159, 156, 156);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* =================================================================================================== */

/*///////////////////////////////////////////////////////////////////////////////////////////////*/

                                       /*CONOCIMI RESPONSIVE */
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width:680px){
    .conocimi{
    width: 100%;
    height: 400px;
}

/* =================================================================================================== */
.conocimi-1{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conocimi-1-p{
    font-size: 30px;
}
/* =================================================================================================== */
/* =================================================================================================== */
.conocimi-2{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
}
.conocimi-contene{
    border-radius: 0;
    padding: 0%;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-1{ 
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-html-1{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.icono-html{
    width: 85%;
    height: 90%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-html-2{
    width: 16%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-html-3{
    width: 63%;
    height: 50%;

}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-html-4{
    width: 9%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-2{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-css-1{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.icono-css{
    width: 85%;
    height: 90%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-css-2{
    width: 16%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-css-3{
    width: 63%;
    height: 50%;

}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-css-4{
    width: 9%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-3{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-js-1{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-js{
    width: 80%;
    height: 90%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-js-2{
    width: 16%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-js-3{
    width: 49%;
    height: 50%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-js-4{
    width: 23%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-4{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;  
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-ng-1{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-ng{
    width: 85%;
    height: 100%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-ng-2{
    width: 16%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-ng-3{
    width: 36%;
    height: 50%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-ng-4{
    width: 36%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
.conocimi-2-5{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-mysql-1{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-mysql{
    width: 85%;
    height: 100%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-mysql-2{
    width: 16%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-mysql-3{
    width: 22%;
    height: 50%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.cono-mysql-4{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* -------------------------------------------------------------------------------------------------------- */
/* =================================================================================================== */

}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.relleno4{
    height: 150px;
}
.relleno5{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.relleno5 p{
    font-size: 35px;
}
.relleno6{
    height: 30px;
}                                 /*  CONTACTO */
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.contactooo{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*<><><>><><><><><><><><><><><><><><><<><><<><><><><><<><<><><><><><><><><><><><><><><><><><><><><><><><<><>*/
.contacto{
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* =================================================================================================== */
.container{
    width: 65%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    background-color: white ;
}
.container form{
    width: 80%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
}
.form-group1{
     width: 100%;
     height: 10%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}
.form-group2{
    width: 100%;
    height: 10%;
    display: flex;
     flex-direction: row;
     justify-content: space-around;
}
.form-group3{
    width: 100%;
    height: 10%;
    display: flex;
     flex-direction: row;
     justify-content: space-around;
}
.form-group4{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-btn{
    border-radius: 25px;
    width: 100%;
    height: 10%;
    background-color: #1A2930;
    color: yellow;
}
.form-btn:hover{
    background-color: yellow;
    color: #1A2930;
}
.form-p-1{
    width: 25%;
    display: flex;
    align-items: center;
}
#firstName{
    width: 65%; 
}
#lastName{
    width: 65%;
}
#email{
    width: 65%;
}
#massage{
    width: 65%;
}
/* =================================================================================================== */
/* =================================================================================================== */
.contacto-2{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    border-radius: 25px;
}
/*---------------------------------------------------------------------------------------------------------*/
.contacto-2-1{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto-2-1-1{
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ico-flecha{
    height: 100%;
    width: 15%;
}
.contacto-2-1-1-p{
    font-size: 30px;
    color: #1A2930;
}
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
.contacto-2-2{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.contacto-2-2-1{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto-2-2-1-p{
    color: #1A2930;
    font-size: 30px;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.contacto-2-2-2{
    width: 30%;
    height: 45%;
    display: flex;
    justify-content: center;
}
.ico-calendario{
    height: 100%;
    width: 80%;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/*---------------------------------------------------------------------------------------------------------*/
/* =================================================================================================== */
/*<><><>><><><><><><><><><><><><><><><<><><<><><><><><<><<><><><><><><><><><><><><><><><><><><><><><><><<><>*/
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
  
                                        /* CONTACTO REPONSIVE */
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width:680px){
    .contactooo{
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*<><><>><><><><><><><><><><><><><><><<><><<><><><><><<><<><><><><><><><><><><><><><><><><><><><><><><><<><>*/
    .contacto{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* =================================================================================================== */
    .container{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .container form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0;
    }
    .form-group1{
         width: 100%;
         height: 10%;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
    }
    .form-group2{
        width: 100%;
        height: 10%;
        display: flex;
         flex-direction: row;
         justify-content: space-around;
    }
    .form-group3{
        width: 100%;
        height: 10%;
        display: flex;
         flex-direction: row;
         justify-content: space-around;
    }
    .form-group4{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .form-btn{
        border-radius: 25px;
        width: 100%;
        height: 10%;
    }
    .form-p-1{
        width: 25%;
        display: flex;
        align-items: center;
    }
    #firstName{
        width: 65%; 
    }
    #lastName{
        width: 65%;
    }
    #email{
        width: 65%;
    }
    #massage{
        width: 65%;
    }
    /* =================================================================================================== */
    /* =================================================================================================== */
    .contacto-2{
        width: 100%;
        height: 30%;
        display: flex;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
    }
    /*---------------------------------------------------------------------------------------------------------*/
    .contacto-2-1{
        display: none;
    }
    /*---------------------------------------------------------------------------------------------------------*/
    /*---------------------------------------------------------------------------------------------------------*/
    .contacto-2-2{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
    .contacto-2-2-1{
        width: 30%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contacto-2-2-1-p{
        font-size: 25px;
    }
    /* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
    /* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
    .contacto-2-2-2{
        width: 30%;
        height: 70%;
        display: flex;
        justify-content: center;
    }
    .ico-calendario{
        height: 100%;
        width: 80%;
    }
    /* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
    /*---------------------------------------------------------------------------------------------------------*/
    /* =================================================================================================== */
    /*<><><>><><><><><><><><><><><><><><><<><><<><><><><><<><<><><><><><><><><><><><><><><><><><><><><><><><<><>*/
    /*<><><>><><><><><><><><><><><><><><><<><><<><><><><><<><<><><><><><><><><><><><><><><><><><><><><><><><<><>*/
    .footer{
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #1A2930;
    }
    /* =================================================================================================== */
    .footer-1{
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-1-1{
        height: 80%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /* ----------------------------------------------------------------------------------------------------*/
    .footer-f{
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    /* ----------------------------------------------------------------------------------------------------*/
    /* ----------------------------------------------------------------------------------------------------*/
    .footer-w{
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* ----------------------------------------------------------------------------------------------------*/
    /* ----------------------------------------------------------------------------------------------------*/
    .footer-g{
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* ----------------------------------------------------------------------------------------------------*/
    i{ 
        color: yellow;
        font-size: 40px;
    }
    
    /* =================================================================================================== */
    /* =================================================================================================== */
    .footer-2{
        height: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    /* ----------------------------------------------------------------------------------------------------*/
    .footer-p-1{
        height: 100%;
        width: 40%;
        font-size: 20px;
        display: flex;
        justify-content: end;
    }
    .pf1{
        margin: 0;
        padding: 0%;
        display: flex;
    }
    /* ----------------------------------------------------------------------------------------------------*/
    /* ----------------------------------------------------------------------------------------------------*/
    .footer-p-2{
        height: 100%;
        width: 40%;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    .pf2{
        margin: 0;
        padding: 0;
    }
    /* ----------------------------------------------------------------------------------------------------*/  
    /* =================================================================================================== */ 
    /*<><><>><><><><><><><><><><><><><><><<><><<><><><><><<><<><><><><><><><><><><><><><><><><><><><><><><><<><>*/
}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/











































.footer{
    height: 30%;
    width: 100%;
    background-color: #1A2930;
}
/* =================================================================================================== */
.footer-1{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-1-1{
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ----------------------------------------------------------------------------------------------------*/
.footer-f{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* ----------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/
.footer-w{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/
.footer-g{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------------------------------------------------------------------------------------*/
i{ 
    color: yellow;
    font-size: 50px;
}
/* =================================================================================================== */
/* =================================================================================================== */
.footer-2{
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* ----------------------------------------------------------------------------------------------------*/
.footer-p-1{
    height: 100%;
    width: 15%;
    font-size: 20px;
    display: flex;
    justify-content: end;
}
.pf1{
    margin: 0;
    padding: 0%;
    color: white;
    display: flex;
}
/* ----------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/
.footer-p-2{
    height: 100%;
    width: 15%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.pf2{
    margin: 0;
    padding: 0;
    color: yellow;
}